{% load static %}
<footer class="bg-dark text-light">
    <div class="container pb-4 pb-lg-3">
        <div class="row justify-content-center">
            <div class="social-media col-3 col-lg-1">
                <a
                    href="http://github.com/Aestial"
                    class="fa fa-github text-white"
                    target="_blank"
                ></a>
            </div>
            <div class="social-media col-3 col-lg-1">
                <a
                    href="https://www.linkedin.com/in/Aestial/"
                    class="fa fa-linkedin text-white"
                    target="_blank"
                ></a>
            </div>
        </div>
    </div>
    <div class="container text-center">
        <p>
            &copy; Jaime Hernández {% now "Y" %}
        </p>
        <!-- <p class="float-right">
            <a href="#">Back to top</a>
        </p> -->
        <!-- <p>
            New to Bootstrap?
            <a href="https://getbootstrap.com/">Visit the homepage</a>
            or read our
            <a href="/docs/4.4/getting-started/introduction/">getting started guide</a>.
        </p> -->
    </div>
</footer>