.chilanka {
    font-family: "Chilanka", Helvetica, serif;
}
.text-xxlarge {
    font-size: xx-large;
}
.text-xlarge {
    font-size: x-large;
}
.text-large {
    font-size: large;
}
.bg-title {
    background-color: #8CBCC3;
}
.bg-title-index {
    background-color: #022054;
}
.bg-blue {
    background-color: #2097B2;
}
.bg-green {
    background-color: #9FC143;
}
.circular-mask {
    clip-path: circle(45% at center);
}