{% extends 'products/base.html' %}
{% load static %}
{% load thumbnail %}
{% block content %}
<main role="main">
    <section class="jumbotron text-center mb-0">
        <div class="container">
            <!-- <img class="avatar img-fluid" src="{% static 'img/james.png' %}" width="128" , height="128"> -->
            <!-- <div class="canvas-container"></div> -->
            <h1>Robota</h1>
            <p class="lead text-muted">
                Game Studio
            </p>
            <p>
                <a href="mailto:jaimevazz@gmail.com" class="btn btn-primary mt-2">Contact us!</a>
                <!-- <a href="#" class="btn btn-secondary my-2">Secondary action</a> -->
            </p>                
        </div>
    </section>
    <section>
        <div class="album py-2 bg-light">
            <div class="container-fluid">
                <div class="row">
                    {% for product in products.all %}
                    <div class="col-sm-6 col-lg-4 px-1">                        
                        <div class="card mb-2 shadow-sm cover">    
                            {% thumbnail product.cover.image "384x288" crop="center" as im %}
                            <img class="card-img cover-img" src="{{ im.url }}" >
                            {% endthumbnail %}                            
                            <div class="card-img-overlay cover-info d-flex bg-primary">
                                <div class="container p-4 align-self-center">
                                    <div class="col-12">
                                        <h4 class="card-text text-light">
                                            {{ product.title }}
                                        </h4>                                        
                                    </div>
                                    <div class="col-12">
                                        <p class="text-light">
                                            {{ product.summary }}
                                        </p>
                                    </div>
                                    <!-- <div class="col-12">
                                        <p class="small text-light">
                                            {{ product.tags }}
                                        </p>
                                    </div> -->
                                    <div class="col-12 align-self-bottom text-right">
                                        <a  
                                            href="{% url 'product' product.slug %}"
                                            class="fa fa-cover fa-plus-circle text-light"
                                        ></a>
                                        <!-- <a                                              
                                            class="cover-close fa fa-cover fa-times-circle text-light d-sm-none"
                                        ></a> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock %}
