{% load static %}
<footer class="bg-light text-dark">
    <div class="container">
        <div class="row justify-content-center p-2">
            <!-- <div class="social-media col-3 col-lg-1">
                <a href="http://github.com/Aestial" class="fa fa-github fa-footer text-white" target="_blank"></a>
            </div>
            <div class="social-media col-3 col-lg-1">
                <a href="https://www.linkedin.com/in/Aestial/" class="fa fa-linkedin fa-footer text-white" target="_blank"></a>
            </div> -->
        </div>
        <div class="container text-center p-2">
            <p>
                <a href="http://frontera.digital" class="text-muted" target="_blank">&copy; Jaime Hernández {% now "Y" %}</a>
            </p>
            <!-- <small>
                Thanks for taking this far!! <a href="#">Back to top</a>
            </small> -->
        </div>
    </div>
</footer>