{% load static %}
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container d-flex h-100">
            <a class="navbar-brand" href="{% url 'divertidamente' %}">
                <img src="{% static 'divertida/img/logo.png' %}" width="50" height="50" class="d-inline-block align-top" alt="" />
                <span class="font-weight-bold align-bottom ml-3 chilanka">divetida-mente</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto">
                    <!-- <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a> -->
                    <a class="nav-item nav-link" href="{% url 'allcards' %}">Todas</a>
                    <!-- <a class="nav-item nav-link {% if nav == 'blog' %} active {% endif %}" href="{% url 'allblogs' %}">Blog</a> -->
                </div>
            </div>
        </div>
    </nav>
</header>