{% extends 'base.html' %}
{% load static %}
{% block content %}
<main role="main">
    <div class="container bg-primary text-light">
        <h1 class="text-center pt-4">Welcome to my blog!</h1>
        <br />
        <br />
        <h2 class="">Latest Posts</h2>
        <hr />
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">

                    {% for blog in blogs.all %}
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img class="card-img-top" src="{{ blog.image.url }}"/>
                            <div class="card-body">
                                <a href="{% url 'blog' blog.id %}">
                                    <h4 class="card-text">
                                        {{ blog.title }}
                                    </h4>
                                </a>
                                <p class="text-muted">
                                    {{ blog.summary }}
                                </p>
                                <div class="d-flex justify-content-between align-items-center">                                        
                                    <small class="text-muted">
                                        {{ blog.pub_date_pretty }}
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}