{% extends 'divertida/base.html' %}
{% load static %}
{% load thumbnail %}
{% block content %}
<main role="main">
    <div class="container">
        <h1 class="text-center pt-4">Divertida-mente!</h1>
        <br />
        <br />
        <h2 class="">Libros</h2>
        <hr />
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">
                    {% for book in books %}
                    <div class="col-6 col-md-4">
                        <div class="card mb-4 shadow-sm">                            
                            <img class="card-img-top" src="{{ book.image.url }}"/>                            
                            <div class="card-body">          
                                <a href="{% url 'bookcards' book.title %}">
                                    <span class="h4 text-muted">
                                        {{ book.title }}
                                    </span>
                                    <p class="card-text h5">
                                        {{ book.description }}
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}