{% extends 'divertida/base.html' %}
{% load static %}
{% load thumbnail %}
{% block content %}
<main role="main">
    <div class="container">
        <h1 class="text-center pt-4">Divertida-mente!</h1>
        <br />
        <br />
        <h2 class="">Grados</h2>
        <hr />
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">
                    {% for index, text in grade_choices %}
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img class="card-img-top" src=""/>
                            <div class="card-body">          
                                <a href="{% url 'grade-cards' index %}">
                                    <span class="h4 text-muted">
                                        Grado {{ index }}
                                    </span>
                                    <p class="card-text h5">
                                        {{ text }}
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}