{% extends 'divertida/base.html' %}
{% load static %}
{% load thumbnail %}
{% block content %}
<main role="main">
    <section class="text-center bg-green">
        <div class="container-fluid">            
            <div class="container py-4 bg-white font-weight-bold d-flex text-left justify-content-between">
                <div class="col-12 col-sm-8 d-flex">
                    <div class="col-3">
                        <img class="img-fluid" src="{% static 'divertida/img/rods-logo.jpg' %}">                        
                    </div>           
                    <div class="col-7 container">
                        <p class="h3 text-danger font-weight-bold text-uppercase">Material</p>
                        <p class="h4">Regletas</p>
                    </div>
                </div>
                <div class="col-3 d-none d-sm-block">
                    <div class="container-fluid">
                        <img class="img-fluid" src="{% static 'divertida/img/logo-bg.jpg' %}">    
                    </div>                                
                </div>                
            </div>
            <div class="container py-5 bg-warning chilanka text-center text-xxlarge d-block d-sm-none">
                <i class="fa fa-exclamation-triangle text-danger" aria-hidden="true"></i>
                <p class="h1 font-weight-bold p-4">Disponible sólo en escritorio</p>
                <span class="p-4 text-xlarge">Para disfrutar de la experiencia, cambia a una pantalla más grande.</span>    
            </div>    
            <div class="bg-title chilanka container d-flex text-white font-weight-bold">
                <div class="col-2 d-none d-sm-block p-3">
                    <span class="h4 align-middle">ficha</span>
                </div>
                <div class="bg-title-index col-2 col-sm-1 p-3">
                    <span class="h3 font-weight-bold">1</span>                                      
                </div>
                <div class="col-10 col-sm-9 align-middle p-3">
                    <span class="h4">"Sumas y restas con literales"</span>                                      
                </div>                
            </div>            
        </div>
        <div class="container bg-white d-none d-sm-block py-3 pb-4">
            <div id="pixi-canvas-container" class="p-4"></div>
            <a type="button" class="btn btn-info text-white btn-lg shadow" data-toggle="modal" data-target="#canvasModal">Instrucciones</a>
        </div>       
        <!-- Modal -->
        <div class="modal fade" id="canvasModal" tabindex="-1" role="dialog" aria-labelledby="Interactive Modal" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLongTitle">Desarrollo de la actividad</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid text-left">
                        <ul>
                            <li>En tu pizarra forma una pirámide de regletas.</li>
                            <li>Escribe a la derecha el color de cada regleta.</li>
                            <li>Encierra la inicial de cada color.</li>
                            <li>Si alguna inicial se repite toma las regletas y compara
                                su tamaño.</li>
                            <li>La inicial de la regleta más grande escríbela con
                                mayúscula y la de menor tamaño con minúscula.</li>
                        </ul>
                    </div>
                </div>
                <div class="modal-footer">
                    <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                    <button type="button" class="btn btn-info" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/5.3.0/pixi.min.js"></script>
<script src="{% static 'divertida/js/PIXI.TextInput.min.js' %}"></script>
<script>    
    // USE THIS TO RETRIEVE STATIC FILES (Like Textures) TO PIXI.JS
    let logoTexture = PIXI.Texture.from("{% static 'divertida/img/comprender-logo.png' %}");
    let trashTexture = PIXI.Texture.from("{% static 'divertida/img/trash-icon.png' %}"); 
</script>

<script src="{% static 'divertida/js/grid.js' %}"></script>
<script src="{% static 'divertida/js/keyboard.js' %}"></script>
<script src="{% static 'divertida/js/button.js' %}"></script>
<script src="{% static 'divertida/js/bar.js' %}"></script>
<script src="{% static 'divertida/js/barman.js' %}"></script>
<script src="{% static 'divertida/js/main.js' %}"></script>
{% endblock %}