{% extends 'base.html' %}
{% load static %}
{% block content %}
<main role="main">
    <div class="container">
        <div class="row justify-content-center py-4">
            <div class="col-11 col-lg-9 col-xl-8">
                <h1 class="text-center">{{ job.title }}</h1>
                <br />
                <div id="gallery-carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <!-- Embed -->
                        {% for img in job.embeds.all %}
                        {% if forloop.first %}
                        <li data-target="#gallery-carousel" data-slide-to="{{ forloop.counter0 }}" class="active"></li>
                        {% else %}
                        <li data-target="#gallery-carousel" data-slide-to="{{ forloop.counter0 }}" class=""></li>
                        {% endif %}
                        {% endfor %}
                        <!-- Images -->
                        {% for img in job.images.all %}
                        <li data-target="#gallery-carousel" data-slide-to="{{ forloop.counter0 }}" class=""></li>                        
                        {% endfor %}
                    </ol>
                    <div class="carousel-inner">
                        <!-- Embed -->
                        {% for emb in job.embeds.all %}
                        {% if forloop.first %}
                        <div class="carousel-item active">
                        {% else %}
                        <div class="carousel-item">
                        {% endif %}
                            <div class="bg-black">
                                <div class="gallery-img d-flex" alt="Slide">
                                    <div class="iframe-container justify-content-center align-self-center">
                                        {{ emb.body | safe }}                                 
                                    </div>
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>{{ emb.title }}</h5>
                                        <p>{{ emb.description }}</p>
                                    </div>                                
                                </div>                                
                            </div>
                        </div>
                        {% endfor %}
                        <!-- Images -->
                        {% for img in job.images.all %}
                        <div class="carousel-item">
                            <div class="bg-black">
                                <div class="gallery-img d-block w-100" style="background-image: url('{{ img.image.url }}');" alt="Slide">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>{{ img.title }}</h5>
                                        <p>{{ img.description }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#gallery-carousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#gallery-carousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <br />
                <hr />
                <p class="text-muted">
                    {{ job.body | safe | linebreaks}}
                </p>
            </div>        
        </div>
    </div>
</main>
{% endblock %}
