{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% block content %}
<main role="main">
    <section class="jumbotron text-center mb-0">
        <div class="container">
            <!-- <img class="avatar img-fluid" src="{% static 'img/james.png' %}" width="128" , height="128"> -->
            <div class="canvas-container"></div>
            <h1>Hello, I'm Jaime</h1>
            <p class="lead text-muted">
                AR/VR/Game Developer - Programmer
            </p>
            <p>
                <a href="mailto:aestial@me.com" class="btn btn-primary mt-2">Contact me!</a>
                <!-- <a href="#" class="btn btn-secondary my-2">Secondary action</a> -->
            </p>                
        </div>
    </section>
    <section>
        <div class="album py-2 bg-light">
            <div class="container-fluid">
                <div class="row">
                    {% for job in jobs.all %}
                    <div class="col-sm-6 col-lg-4 px-1">                        
                        <div class="card mb-2 shadow-sm cover">    
                            {% thumbnail job.cover.image "384x216" crop="center" as im %}
                            <img class="card-img cover-img" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                            {% endthumbnail %}                            
                            <div class="card-img-overlay cover-info bg-primary">
                                <a class="" href="{% url 'detail' job.id %}">
                                    <div>
                                        <h5 class="card-text text-white">
                                            {{ job.title }}
                                        </h5>                                        
                                    </div>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <p class="small text-white">
                                            {{ job.tags }}
                                        </p>
                                    </div>                                    
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/110/three.min.js" integrity="sha256-gSh8eotzb/CVvCREGPUNgIWuDnTYnZvVOQnRrP1eDjI=" crossorigin="anonymous"></script>
<script src="{% static 'js/torusknot.js' %}"></script>
{% endblock %}
