{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% block content %}
<main role="main">
    <section id='jumbotron' class="jumbotron bg-primary text-center text-light mb-0">
        <div class="container">
            <div id='three-container' class="canvas-container"></div>
            <h4 class="display-4">Hello, I'm Jaime</h4>
            <p class="lead">
                Software Developer & Graphics Enthusiast
            </p>
            <p>
                <a href="{% url 'about' %}" class="btn btn-outline-light btn-lg mt-2">About me</a>
                <!-- <a href="#" class="btn btn-secondary my-2">Secondary action</a> -->
            </p>                
        </div>
    </section>
    <section>
        <div class="album py-2 bg-light">
            <div class="container">
                <div class="row">
                    {% for product in products.all %}
                    <div class="col-sm-6 col-lg-4 px-1">                        
                        <div class="card mb-2 shadow-sm cover">    
                            {% thumbnail product.cover.image "384x288" crop="center" as im %}
                            <img class="card-img cover-img" src="{{ im.url }}" >
                            {% endthumbnail %}                            
                            <div class="card-img-overlay cover-info d-flex bg-primary">
                                <div class="container p-4 align-self-center">
                                    <div class="col-12">
                                        <h4 class="card-text text-light">
                                            {{ product.title }}
                                        </h4>                                        
                                    </div>
                                    <div class="col-12">
                                        <p class="text-light">
                                            {{ product.summary }}
                                        </p>
                                    </div>
                                    <!-- <div class="col-12">
                                        <p class="small text-light">
                                            {{ product.tags }}
                                        </p>
                                    </div> -->
                                    <div class="col-12 align-self-bottom text-right">
                                        <a  
                                            href="{% url 'product' product.slug %}"
                                            class="fa fa-cover fa-plus-circle text-light"
                                        ></a>
                                        <!-- <a                                              
                                            class="cover-close fa fa-cover fa-times-circle text-light d-sm-none"
                                        ></a> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% for job in jobs.all %}
                    <div class="col-sm-6 col-lg-4 px-1">                        
                        <div class="card mb-2 shadow-sm cover">    
                            {% thumbnail job.cover.image "384x288" crop="center" as im %}
                            <img class="card-img cover-img" src="{{ im.url }}" >
                            {% endthumbnail %}                            
                            <div class="card-img-overlay cover-info d-flex bg-primary">
                                <div class="container p-4 align-self-center">
                                    <div class="col-12">
                                        <h4 class="card-text text-light">
                                            {{ job.title }}
                                        </h4>                                        
                                    </div>
                                    <div class="col-12">
                                        <p class="text-light">
                                            {{ job.summary }}
                                        </p>
                                    </div>
                                    <div class="col-12">
                                        <p class="small text-light">
                                            {{ job.tags }}
                                        </p>
                                    </div>
                                    <div class="col-12 align-self-bottom text-right">
                                        <a  
                                            href="{% url 'detail' job.id %}"
                                            class="fa fa-cover fa-plus-circle text-light"
                                        ></a>
                                        <!-- <a                                              
                                            class="cover-close fa fa-cover fa-times-circle text-light d-sm-none"
                                        ></a> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
</main>
{% with 'js/data.json' as json %}
<script type="text/javascript" src="{% static json %}"></script>
{% endwith %}
<script>
    // RETRIEVE Data
    let assets = {
        model : "{% static 'vrm/jaime.vrm' %}",
    };
    // assets.model = "{% static 'img/lsp_diff.png' %}";
    const data = JSON.parse(json);
</script>
<script src="{% static 'js/bundle.js' %}"></script>

{% endblock %}
